{
    "extends": "@istanbuljs/nyc-config-typescript",
    "check-coverage": true,
    "lines": 50,
    "all": true,
    "include": [
        "src/**/!(*.mocha.*).[tj]s?(x)"
    ],
    "exclude": [
        "test/**/*.mocha.ts"
    ],
    "reporter": [
        "html",
        "lcov",
        "text",
        "text-summary"
    ],
    "report-dir": "coverage"
}
